<% provide(:title, "About") %>
<h1>About</h1>
   <p>
      The Rubik's Cube Timer is designed to store and display my historical solve times for a 3x3 Rubik's cube.
   </p>
   <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget auctor urna. 
      Quisque vulputate condimentum odio, vel aliquet tortor laoreet eu. In hac habitasse platea dictumst. 
      Sed nisl nunc, dictum id sem eget, dictum ullamcorper lectus. Pellentesque vulputate arcu sed varius eleifend. 
      Sed rutrum sed sapien ac luctus. Mauris semper volutpat libero quis semper. 
      Fusce sem velit, viverra ac est quis, pellentesque accumsan velit.
      Vestibulum commodo risus aliquet mauris pretium, molestie tempus massa luctus. 
      Maecenas dignissim velit urna, quis sagittis risus auctor eget. Sed semper risus nibh, ut eleifend eros gravida vitae. 
      Nam sit amet vulputate risus. Nam id vulputate leo. Vestibulum ornare imperdiet porttitor. Donec eu suscipit ligula.
   </p>
   <p>
      Quisque ante purus, consectetur ut iaculis sit amet, varius sit amet tellus. 
      Integer auctor viverra orci, id suscipit tortor eleifend a. 
      Nullam cursus suscipit justo sit amet malesuada. In pellentesque quam justo, vel rhoncus sapien posuere sit amet. 
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque sodales cursus elit nec pharetra. Sed et posuere nisi. 
      Proin diam nulla, tristique at commodo in, semper eget arcu. 
      Pellentesque consectetur, urna at porta feugiat, velit mauris convallis diam, sit amet fringilla ante nulla quis augue. 
      Nulla non sem venenatis, tincidunt risus quis, consectetur eros. Etiam consequat id tortor ut imperdiet.
   </p>