<footer class="footer">
   <small>
      This website was created using Ruby on Rails.
   </small>
   <nav>
      <ul>
         <li><%= link_to "About", '#' %></li>
         <li><%= link_to "Help", '#' %></li>
         <li><a href="https://www.linkedin.com/in/vijeeth-guggilla/">Contact</a></li>
      </ul>
   </nav>
</footer>